<div class="container-fluid">
  <h2>Opt In</h2>
  <p>You must first agree to be in the list so that people can see you and be nice to you and stuff. </p>
  <button id="agree-{{id}}" class="btn"> I agree {{id}}</button>
</div>
<script src="/optin.js"></script>
