<div id="modal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Opt In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>opt in?</p>
            </div>
            <div class="modal-footer">
                <button id="agree-{{id}}" type="button" class="btn btn-primary">I agree</button>
                <button id="cancel" type="button" class="btn btn-warning" >Cancel</button>
            </div>
        </div>
    </div>
</div>
<script src="/optin.js"></script>
