<div id="modal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="main" class="modal-body text-center">
        <h4>You are choosing to opt in to Smart Groups. This allows Canvas to group students with similar classes.</h4>
        <p>Do you want to opt in for your courses?</p>
      </div>
      <div id="success" class="modal-body text-enter hidden">
        <p><strong class="text-success">Success!</strong> You are opted in and will now show up to other students. Please refresh the page to view students and classes.</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button id="agree-{{id}}" type="button" class="btn blu mr-3">I agree</button>
        <button id="cancel" type="button" class="btn blu ml-3" >Cancel</button>
      </div>
    </div>
  </div>
</div>
<script src="/optin.js"></script>
